<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311070955861-28eiv351bjkri1nobrqaq6lkbisn5i6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311070955861-28eiv351bjkri1nobrqaq6lkbisn5i6i</string>
	<key>API_KEY</key>
	<string>AIzaSyAKmJ9vF1kIDea0WAqh554xWOBETRWXsKc</string>
	<key>GCM_SENDER_ID</key>
	<string>311070955861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxTodoExample</string>
	<key>PROJECT_ID</key>
	<string>educative-todo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>educative-todo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311070955861:ios:b2438493d363d5021a77dc</string>
</dict>
</plist>